.heading {
    border-bottom: 1px solid #ddd;
}

.stack {
    margin-bottom: 15px;
}

.stack pre {
    margin-top: 2px;
    margin-bottom: 5px;
}

.stack-wrapper {
    margin-right: -15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.id-label {
    display: inline-block;
    width: 14%;
}

.score-input {
    width: 12% !important;
}
.comment-input {
    width: 82% !important;
}

.closest {
    width: 85%;
    text-align: center;
    display: inline-block;
}

.closer-to {
    cursor: pointer;
}

.showRaw {
    padding: 0px;
}

/*.clicked {
    background-color: #ECF3F9;
}*/

span.glyphicon {
    font-size: 1.2em;
}

.clicked .dimmed {
    opacity: 1.0;
}

.blue {
    background-color: #ECF3F9;
}

.solution-list {
    overflow-y: scroll;
}

.dimmed {
	opacity: 0.5;
}

.pin-button {
    cursor: pointer;
}

.not-toggled {
    opacity: 0.3;
}

.incorrect pre {
    background-color: #f2dede;
    border-color: #e2b6b6;
}
