/* CSS declarations go here */

.stack {
    margin-bottom: 5px;
}

.stack pre {
    margin-top: 2px;
    margin-bottom: 5px;
}

.stack-wrapper {
    margin-right: -15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.showRaw {
    padding: 0px;
}

.clicked {
    background-color: #ECF3F9;
}

.filtered {
    background-color: #ECF3F9;
}

.filtered, .unfiltered {
    overflow-y: scroll;
}

.dimmed {
	opacity: 0.5;
}

.incorrect pre {
    background-color: #f2dede;
    border-color: #e2b6b6;
}
