.heading {
    border-bottom: 1px solid #ddd;
}

.stack pre {
    margin-top: 2px;
    margin-bottom: 5px;
}

.stack-wrapper {
    margin-right: -15px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.show-raw-wrapper {
    margin-top: -5px;
}

.id-label {
    display: inline-block;
    width: 15%;
}

.grade .form-group {
    margin-bottom: 2px;
}

.score-column {
    padding-right: 3px;
}

.comment-column {
    padding: 0px;
}

.dropdown-column {
    padding-left: 3px;
    padding-right: 0px;
}

.rubric {
    width: 300px;
}

.dropdown-toggle {
    width: 100%;
}

.new-deduction .form-group {
    width: calc(100% - 3px); /* Who knew you could do this? Really cool! */
    position: relative;
    left: 15px;
}

.rubric .row {
    margin-left: 0px;
}

.rubric .row div {
    padding-left: 4px;
    padding-right: 0px;
}

.new-deduction .form-group div {
    padding-left: 3px;
    padding-right: 0px;
}

.add-deduction {
    width: 100%;
}

.closest {
    width: 85%;
    text-align: center;
    display: inline-block;
}

.closer-to {
    cursor: pointer;
}

.showRaw {
    padding: 0px;
}

/*.clicked {
    background-color: #ECF3F9;
}*/

span.glyphicon {
    font-size: 1.2em;
}

.clicked .dimmed {
    opacity: 1.0;
}

.blue {
    background-color: #ECF3F9;
}

.solution-list {
    overflow-y: scroll;
}

.dimmed {
	opacity: 0.5;
}

.pin-button {
    cursor: pointer;
}

.not-toggled {
    opacity: 0.3;
}

.incorrect pre {
    background-color: #f2dede;
    border-color: #e2b6b6;
}

.new-deduction input {
    height:80%;
}

.color-correct {
    color: green;
}
.color-incorrect {
    color: gray;
}
span.test-indicator {
    font-size: 0.5em;
}
.right-aligned{
    text-align: right;
}

ul
{
    list-style-type: none;
}
