appnope==0.1.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
boto==2.40.0
bz2file==0.98
certifi==2016.2.28
cycler==0.10.0
dask==0.9.0
decorator==4.0.9
functools32==3.2.3.post2
gensim==0.12.4
gnureadline==6.3.3
httpretty==0.8.10
ipython==4.2.0
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mpmath==0.19
networkx==1.11
numpy==1.11.0
pandas==0.18.1
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
ptyprocess==0.5.1
pylab==0.1.3
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
requests==2.8.1
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
seaborn==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.3.2
sympy==1.0
toolz==0.7.4
tornado==4.3
traitlets==4.2.1
